version: '3.8'

services:
  # 1. 비행 제어 노드 (로컬 폴더 mission 빌드)
  vtol_mission:
    build:
      context: ./mission
    image: vtol_mission:local
    container_name: vtol_mission
    restart: unless-stopped
    network_mode: "host"
    privileged: true
    devices:
      - "/dev/ttyAMA0:/dev/serial0"
    command: >
     bash -c "source /opt/ros/humble/setup.bash &&
     source /ros2_ws/install/setup.bash &&
     ros2 launch vtol_mission takeoff.launch.py fcu_url:=/dev/serial0:57600 system_id:=255 component_id:=240"

  # 2. AI 영상 노드 (로컬 폴더 vision 빌드)
  siyi_vision:
    build:
      context: ./vision_project
    image: siyi_vision:local
    container_name: siyi_vision
    restart: unless-stopped
    network_mode: "host"
    privileged: true
    
    # [핵심 변경 1] GStreamer와 라이브러리 경로를 알려주는 환경 변수
    environment:
      # GStreamer가 플러그인을 찾을 폴더 지정
      - GST_PLUGIN_PATH=/hailo_plugins
      # 시스템 라이브러리(hailort)를 찾을 폴더 지정
      - LD_LIBRARY_PATH=/host_libs:/usr/lib/aarch64-linux-gnu:/usr/lib

    devices:
      - "/dev/hailo0:/dev/hailo0"
    
    volumes:
      - /dev:/dev
      
      - /home/sw/hailo-rpi5-examples:/hailo_ws
      - ./vision_project/siyi_pose_node.py:/root/ws/siyi_pose_node.py
      
      - /usr/lib/aarch64-linux-gnu/gstreamer-1.0:/hailo_plugins

      - /usr/lib/aarch64-linux-gnu:/host_libs

    command: python3 /root/ws/siyi_pose_node.py