version: '3.8'

services:
  vtol_mission:
    build:
      context: .
    platform: linux/arm64
    image: seyeongw/vtol_mission:latest
    container_name: vtol_mission
    restart: unless-stopped
    network_mode: "host"

    devices:
      - "/dev/ttyAMA0:/dev/serial0"

    group_add:
      - "dialout"

    command: >
      bash -c "source /ros2_ws/install/setup.bash &&
      ros2 launch vtol_mission takeoff.launch.py
        fcu_url:=/dev/serial0:57600
        system_id:=255
        component_id:=240"